NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb://username:password@localhost:27017/virtual_betting
API_URL=https://bet.example.com/api
FRONTEND_URL=https://bet.example.com
IP_REGISTRATION_LIMIT=1
IP_TRACKING_DURATION=2592000000